<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap css only   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>photo</title>
</head>
<body class="m-5">
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <a href="{% url 'gallery' 6 %}" class="btn btn-dark my-3">Go back</a>
            <div style="height: 90vh">
                <img style="max-width: 100%; max-height: 100%; "
                        src="https://cdn.mos.cms.futurecdn.net/6t8Zh249QiFmVnkQdCCtHK-970-80.jpg.webp" alt="Card image cap">
            <p>There are just so many of them. But what's the best laptop for you? Is it a business notebook, a powerful gaming laptop, or a <br>Chromebook? We know the sheer number of choices can be overwhelming, which is why we made this list. <br><br>We've created this handy-dandy guide so you'll know all the ins and outs of your prospective system before you make the decision <br>to hit the buy button. From advice on choosing screen size, to selecting between an SSD and HDD to insider scoops on where to <br>find the best prices on laptops, here are some essential tips for finding the right system for you.</p>
            </div>

        </div>

    </div>

     <div class="row justify-content-center">
        <div class="col">
            <a href="{% url 'gallery' 5 %}" class="btn btn-dark my-3">Go back</a>
            <div style="height: 90vh">
                <img style="max-width: 100%; max-height: 100%; "
                        src="https://i.guim.co.uk/img/media/2c19c3b2fcbb78358eb734c8cba2bfb02388df0a/0_92_1750_1050/master/1750.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=253fee8b29eb5274ee433b788e34ede3">
                <h5>Best laptop screen size for poor eyesight?</h5>
                <p>According to my pensioner eyes, clarity and crispness are less important than size. And in one of life’s little ironies, increasing the resolution of a screen, to make things look crisper, leads directly to a decrease in size.
                    Fortunately, we can fix this in Windows 10’s software settings by changing the scaling, as I’ll explain later. However, programmers need to follow the rules, and even today, not every Windows program scales correctly..</p>
            </div>

        </div>

    </div>

</div>


</body>
</html>